# Veri Yapıları (Data Structures)

* **type():** Tip sorgulama fonksiyonudur.

In [1]:
type(9) # int: Tam sayı

int

In [2]:
type(9.2) # float: Ondalıklı sayı

float

In [3]:
type("Ahmet") # str: String karakter dizisi.

str

In [4]:
type(10.2j)

complex

In [6]:
type(True) # boolean: True-False 1-0

bool

In [7]:
myList = [1,2,3,"a","c",4.4]
type(myList)

list

In [8]:
myDict = {"IL":"Ankara","ILCE":"Kızılay"}
type(myDict)

dict

In [9]:
myTuple = (1,2,3,4)
type(myTuple)

tuple

In [10]:
mySet = {"a", "b", "c"}
type(mySet)

set

* **NOT:** Liste, Tuple, Set ve Dictionary veri yapıları aynı zamanda Python Collections (Arrays) olarak geçmektedir.

## Sayılar

In [11]:
a = 5 #int
b = 10.5 #float

print(a*b)
print(a+b)
print(a**2)

52.5
15.5
25

* **int() - float() - str():** Tip dönüşümü fonksiyonlarıdır.

In [13]:
print(int(b)) # float to int
print(float(a)) # int to float
print(str(a+b)) # float to str

10
5.0
15.5

## Karakter Dizileri (Strings)

In [14]:
myStr = "Ahmet Karayel"
print(myStr)

Ahmet Karayel

In [16]:
myStory = """Lorem Ipsum is simply dummy text of the printing and typesetting industry.
Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, 
when an unknown printer took a galley of type and scrambled it to make a type specimen book. 
It has survived not only five centuries, but also the leap into electronic typesetting, 
remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset 
sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus 
PageMaker including versions of Lorem Ipsum
"""
print(myStory)

Lorem Ipsum is simply dummy text of the printing and typesetting industry.
Lorem Ipsum has been the industry's standard dummy text ever since the 1500s,
when an unknown printer took a galley of type and scrambled it to make a type specimen book.
It has survived not only five centuries, but also the leap into electronic typesetting,
remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset
sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus
PageMaker including versions of Lorem Ipsum

In [17]:
myStr[0:3]

'Ahm'

In [18]:
myStr[::2] # 2şer 2şer atlayarak

'AmtKryl'

In [19]:
"Lorem" in myStory

True

### String Metodları

* **len():** Uzunluk hesaplar.

In [21]:
len(myStr) # Ahmet Karayel

13

* **upper():** Tüm harfleri büyütür.  
* **lower():** Tüm harfleri küçültür.

In [27]:
myStr.upper()

'AHMET KARAYEL'

In [28]:
myStr.lower()

'ahmet karayel'

* **replace():** Karakter değiştirmek için kullanılır.

In [30]:
myStr.replace(" ", "+") # boşluk yerine +

'Ahmet+Karayel'

* **split():** Bölme için kullanılır. Bir liste döndürür. Default olarak " " üzerinden bölme yapar.

In [31]:
myStr.split()

['Ahmet', 'Karayel']

In [32]:
type(myStr.split())

list

In [33]:
myStr.split(sep="e") # "e" harfine göre böl.

['Ahm', 't Karay', 'l']

* **strip():** Kırpma işlemi. Default olarak hem sol hem sağ taraftan " " karakterlerini kırpar.  
* **lstrip():** Sadece sol taraftaki boşlukları kırpar.  
* **rstrip():** Sadece sağ taraftaki boşlukları kırpar.

In [35]:
x = "   Hello Miuul   "
print("Default:" ,x.strip())
print("Sol taraftan:" ,x.lstrip())
print("Sağ Taraftan:" ,x.rstrip())

Default: Hello Miuul
Sol taraftan: Hello Miuul
Sağ Taraftan:    Hello Miuul

* **capitalize():** İlk kelimenin baş harfini büyütür.

In [36]:
x = "neler oluyor hayatta?"
x.capitalize()

'Neler oluyor hayatta?'

* **title():** Her kelimenin baş harfini büyütür.

In [37]:
x = "neler oluyor hayatta?"
x.title()

'Neler Oluyor Hayatta?'

* **startswith():** İle mi başlıyor? Boolean sonuç döndürür.
* **endswith():** İle mi bitiyor? Boolean sonuç döndürür.

In [38]:
x.startswith("n")

True

In [39]:
x.endswith("?")

True

## Liste

* Değiştirilebilir. (Mutable)
* Sıralıdır. İndex işlemleri yapılabilir. 
* Kapsayıcıdır.

In [42]:
myList = [10,20,30, "miuul", 40.5, "harika"]
myList[0]

10

In [43]:
myList[:4] # ilk 4 eleman

[10, 20, 30, 'miuul']

In [45]:
myList[-1] # Son eleman

'harika'

In [46]:
myList[-2] # Sondan ikinci eleman

40.5

In [47]:
myList[::-1] # Listeyi tersine çevirmek

['harika', 40.5, 'miuul', 30, 20, 10]

In [49]:
myList[1::2] # 1.İndexten (2.elaman) başlayarak 2şer 2şer yazdır.

[20, 'miuul', 'harika']

In [50]:
myList2 = [["python", "postgresql"], ["HTML", "CSS", "JS"], 33, 44, 55]
myList2[0][1] # Liste içinde liste

'postgresql'

In [51]:
myList2[1][2]

'JS'

In [52]:
myList

[10, 20, 30, 'miuul', 40.5, 'harika']

In [54]:
myList[-1] = "süper" # son elemanı değiştir.
myList

[10, 20, 30, 'miuul', 40.5, 'süper']

### Liste Metodları

* **append():** Liste sonuna ekleme yapar.

In [55]:
myList.append(9999)
myList

[10, 20, 30, 'miuul', 40.5, 'süper', 9999]

* **insert():** Girilen indexe ekleme yapar.

In [56]:
myList.insert(1,8888) # 1.indexe yani 2.eleman olarak 8888 ekle.
myList

[10, 8888, 20, 30, 'miuul', 40.5, 'süper', 9999]

* **pop():** İndexe göre eleman silme.

In [57]:
myList.pop(1) # Silinen elemanı gösterir.

8888

In [58]:
myList

[10, 20, 30, 'miuul', 40.5, 'süper', 9999]

## Sözlük (Dictionary)

* key:value şeklinde değer tutarlar.  
* key üzerinden value değerine erişiriz.

In [62]:
iller = {"Ankara":"06", "Bursa":"16", "İstanbul":"34", "İzmir":"35"}
iller

{'Ankara': '06', 'Bursa': '16', 'İstanbul': '34', 'İzmir': '35'}

* **keys:** Dict içerisinden "key" değerlerini döndürür.  
* **values:** Dict içerisinden "value" değerlerini döndürür.

In [64]:
iller.keys()

dict_keys(['Ankara', 'Bursa', 'İstanbul', 'İzmir'])

In [66]:
list(iller.keys()) # List dönüşümü yaparak kullanılabilir.

['Ankara', 'Bursa', 'İstanbul', 'İzmir']

In [65]:
iller.values()

dict_values(['06', '16', '34', '35'])

In [67]:
list(iller.values()) # List dönüşümü yaparak kullanılabilir.

['06', '16', '34', '35']

In [69]:
iller["Ankara"] # "Ankara" key üzerinden erişim yapıyoruz.

'06'

In [72]:
"Ankara" in iller # NOT: Key üzerinden bu sorguyu yapar

True

In [73]:
"06" in iller # value üzerinden sorgu yapılmaz.

False

In [76]:
iller["Sivas"] = "58" # Yeni bir değer eklemek
iller["Ankara"] = "000" # Mevcut değeri değiştiriyoruz.
iller

{'Ankara': '000',
 'Bursa': '16',
 'İstanbul': '34',
 'İzmir': '35',
 'Sivas': '58'}

In [77]:
iller["Ankara"] = "06"

## Demet (Tuple)

* Değiştirilemezler (immutable). En önemli özelliği bu.

In [80]:
t = ("Neler", "Oluyor", "Hayatta?", 1, 2,4,2, 3)
t

('Neler', 'Oluyor', 'Hayatta?', 1, 2, 4, 2, 3)

In [79]:
dir(t) # Kullanılabilecek metodları sadece 2 tane.

['__add__',
 '__class__',
 '__class_getitem__',
 '__contains__',
 '__delattr__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__getitem__',
 '__getnewargs__',
 '__gt__',
 '__hash__',
 '__init__',
 '__init_subclass__',
 '__iter__',
 '__le__',
 '__len__',
 '__lt__',
 '__mul__',
 '__ne__',
 '__new__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__rmul__',
 '__setattr__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 'count',
 'index']

* **count():** Girilen eleman için sayma işlemi yapar.  
* **index():** Girilen indeksteki değeri döndürür.

In [81]:
t.count(2) # kaç tane 2 var?

2

In [83]:
t.index(2) # 2 değerinin indeksini döndür.
# 2 tane 2 değeri var ilk gördüğü 2 değerinin indeksini döndürür.

4

In [84]:
t[0] = "999" # Değiştirilemezler. Hata....

TypeError: 'tuple' object does not support item assignment

## Set

* Matematikteki kümeler olarak düşünebiliriz.  
* Her elemandan 1 tane tutar.

* **difference():** İki kümenin farkı  
* **symmetric_difference():** İki kümede de birbirinde olmayanların kümesi

In [89]:
set1 = {1,2,3,4,5,6,7,7,7,8} # 3 Tane 7 olmasına rağmen sadece 1 tane tutacaktır.
set2 = {7,7,8,9,2,3,4} # 2 Tane 7 olmasına rağmen sadece 1 tane tutacaktır.

In [90]:
print(set1)
print(set2)

{1, 2, 3, 4, 5, 6, 7, 8}
{2, 3, 4, 7, 8, 9}

In [91]:
set1.difference(set2) # set1'de olup, set2'de olmayan elemanlar

{1, 5, 6}

In [92]:
set2.difference(set1) # set2'de olup, set1'de olmayan elemanlar

{9}

In [98]:
# İki kullanımda sonucu değiştirmez.

set1.symmetric_difference(set2)
set2.symmetric_difference(set1)

{1, 5, 6, 9}

* **intersection():** İki kümenin kesişimi

In [94]:
set1.intersection(set2)

{2, 3, 4, 7, 8}

* **union():** İki kümenin birleşimi

In [95]:
set1.union(set2)

{1, 2, 3, 4, 5, 6, 7, 8, 9}

***NOT:***

* **& :** İki kümenin kesişimi  
* **- :** İki kümenin farkı

In [102]:
set1 & set2 # kesişim

{2, 3, 4, 7, 8}

In [103]:
set1 - set2 # set1 de olup, set2 de olmayan

{1, 5, 6}

* **isdisjoint():** Kümelerin kesişimi boş mu?

In [104]:
set1.isdisjoint(set2)

False

* **issubset():** Bir küme diğer kümenin alt kümesi mi?

In [105]:
set2.issubset(set1)

False

* **issuperset():** Bir küme diğerini kapsıyor mu?

In [107]:
set1.issubset(set2)

False

# Fonksiyonlar

* **help():** Fonksiyonların dökümantasyonuna erişim sağlar.

In [108]:
help(print)

Help on built-in function print in module builtins:

print(...)
    print(value, ..., sep=' ', end='\n', file=sys.stdout, flush=False)

    Prints the values to a stream, or to sys.stdout by default.
    Optional keyword arguments:
    file:  a file-like object (stream); defaults to the current sys.stdout.
    sep:   string inserted between values, default a space.
    end:   string appended after the last value, default a newline.
    flush: whether to forcibly flush the stream.

In [109]:
# Fonksiyon tanımlama

def calculate(x):
    print(x*2)

calculate(5) # Fonksiyonu çağırıyoruz.

10

In [111]:
# Multiple parameter func.

def calculate2(x,y,z):
    return x*y*z

result = calculate2(4,5,6)
result

120

* ***DOCSTRING:*** Fonksiyonları herkesin anlayabilmesi için fonksiyonların işlevini anlatan metinlerdir.

In [112]:
def summer(arg1, arg2):
    """
    Sum of two numbers
    ----------
    
    Parameters/Args
    ----------
    arg1: int, float
    
    arg2: int, float
    
    Returns
    ----------
    int, float
    
    """
    print(arg1 + arg2)

In [113]:
?summer # Yazdığımız docstring'i görüyoruz.

Signature: summer(arg1, arg2)
Docstring:
Sum of two numbers
----------

Parameters/Args
----------
arg1: int, float

arg2: int, float

Returns
----------
int, float
File:      c:\users\ahmet\appdata\local\temp\ipykernel_12848\2287827440.py
Type:      function

In [115]:
summer(11,33)

44

In [116]:
# Parametresiz fonksiyon

def say_hi():
    print("Hi")
    print("Miuul")
say_hi()

Hi
Miuul

In [117]:
def multiplication(sayi1, sayi2):
    c = sayi1 * sayi2
    print(c)

multiplication(9,10)

90

In [120]:
# Girilen değerlerin çarpımını bir liste içinde saklayacak fonksiyon.

myList = [] # Global Area

def addElement(a, b):
    c = a*b
    myList.append(c) # Local Area
    print(myList)

addElement(2,7)
addElement(3,8)
addElement(4,9)
addElement(5,10)

[14]
[14, 24]
[14, 24, 36]
[14, 24, 36, 50]

In [121]:
# Ön tanımlı parametre içeren fonksiyonlar

def divide(a, b=1): # 2 parametre gelmediği sürece b=1 kabul edilir.
    print(a/b)
    
divide(10)
divide(22)
divide(33,3)
divide(66,22)

10.0
22.0
11.0
3.0

--- 
***NOT:*** 
* Tekrar edilen eylemlerin fonksiyonları yazılarak kolaylık sağlanır.
---

In [122]:
# Return ile fonksiyon çıktısını kullanma imkanı kazanırız.

def calculate(varm, moisture, charge):
    return (varm + moisture)/charge

result = calculate(98, 12, 78) * 10
result

14.102564102564104

In [133]:
# Fonksiyon içerisinden fonksiyon çağırmak

def calculate(varm, moisture, charge):
    return int((varm + moisture)/charge)

def standardization(a, p):
    return a * 10 / 100 * p * p

def all_calculation(varm, moisture, charge, p):
    a = calculate(varm, moisture, charge)
    b = standardization(a, p)
    print(b*10)

all_calculation(4, 7, 9, 12)

144.00000000000003

In [137]:
# Local & Global Değişkenler

list_store = [1, 2] # Global değişken

def add_element(a, b):
    c = a * b + 1 # Local değişken "c"
    list_store.append(c)
    print(list_store)

add_element(33, 44)

[1, 2, 1453]

# Koşullar

In [141]:
x = 10
if x == 11:
    print("Evet")
else:
    print("Hayır")

Hayır

In [140]:
a = 5
b = 7

if a > b:
    print(f"{a} {b}'den büyüktür.")
elif a < b:
    print(f"{b} {a}'den büyüktür.")
else:
    print(f"{a} {b}'ye eşittir.")

7 5'den büyüktür.

# Döngüler

## For Döngüsü

In [142]:
myList = ["Ankara", "Bursa", "İstanbul", "İzmir"]

for i in myList:
    print(i)

Ankara
Bursa
İstanbul
İzmir

In [149]:
# Maaşlara zam yapalım.

salaries = [1000, 2000, 3000, 4000, 5000]

def new_salary(salary, rate):
    return salary*rate/100+salary

for salary in salaries:
    print(new_salary(salary, 20))

1200.0
2400.0
3600.0
4800.0
6000.0

In [150]:
# Mevcut maaşlara göre zam oranı

salaries = [1000, 2000, 3000, 4000, 5000]

def new_salary(salary, rate):
    return salary*rate/100+salary

for salary in salaries:
    if salary >= 3000:
        print(new_salary(salary, 20))
    else:
        print(new_salary(salary, 30))

1300.0
2600.0
3600.0
4800.0
6000.0

In [148]:
# Dictionary elemanlarına erişmek

students = ["John", "Mark", "Venessa", "Mariam"]

for student in students:
    print(student.upper())

JOHN
MARK
VENESSA
MARIAM

In [146]:
myDict = {"Ankara":"06", "Bursa":"16", "İstanbul":"34"}

for key, value in myDict.items():
    print(key, value)

Ankara 06
Bursa 16
İstanbul 34

## Uygulama - Mülakat Sorusu

* **AMAÇ:**  
Çift indexteki elemanları büyüt, tek indexteki elemanları küçült.

In [159]:
myString = "hi my name is john and i am learning python"

def alternating(string):
    new_string = ""
    for i in range(len(string)):
        if i % 2 == 0:
            new_string = new_string + string[i].upper()
        else:
            new_string = new_string +  string[i].lower()
    print(new_string)
alternating(myString)

Hi mY NaMe iS JoHn aNd i aM LeArNiNg pYtHoN

## While Döngüsü

* **break:** Döngüden çıkar.  
* **continue:** Döngüyü başa alır.

In [163]:
salaries = [1000, 2000, 3000, 4000, 5000]

for salary in salaries:
    if salary == 3000:
        break
    print(salary)

1000
2000

In [164]:
salaries = [1000, 2000, 3000, 4000, 5000]

for salary in salaries:
    if salary == 3000:
        continue
    print(salary)

1000
2000
4000
5000

In [167]:
number = 1
while number<5:
    print(number)
    number += 1

1
2
3
4

* **Enumerate:** Elemanları index ve value olarak ayırır.

In [170]:
myList = [33, 44, 55, 66, 77]

for index, value in enumerate(myList):
    print(index, value)

0 33
1 44
2 55
3 66
4 77

In [171]:
tekIndex = []
ciftIndex = []
for index, value in enumerate(myList):
    if index % 2 == 0:
        ciftIndex.append(value)
    tekIndex.append(value)

print(tekIndex)
print(ciftIndex)

[33, 44, 55, 66, 77]
[33, 55, 77]

## Uygulama Mülakat Sorusu: Enumerate

* divide_students fonksiyonu yazınız. 
* Çift indexte yer alan öğrenciler bir listeye alınsın. 
* Tek indexte yer alan öğrenciler başka bir listeye alınsın. 
* Fakat bu iki liste tek bir liste olarak return olsun.

In [174]:
students = ["John", "Mark", "Venessa", "Mariam"]


def divide_students(myList):
    groups = [[], []]
    for index, value in enumerate(myList):
        if index % 2 == 0:
            groups[0].append(value)
        else:
            groups[1].append(value)
    return groups

results = divide_students(students)
for i in results:
    print(i)

['John', 'Venessa']
['Mark', 'Mariam']

## Zip Kullanımı

* Farklı listelerin bir araya getirilmesini sağlar. Aynı indexleri eşler.

In [175]:
students = ["John", "Mark", "Venessa", "Mariam"]
departments = ["mathematics", "statistics", "physics", "astronomy"]
ages = [23, 30, 26, 22]

list(zip(students, departments, ages))

[('John', 'mathematics', 23),
 ('Mark', 'statistics', 30),
 ('Venessa', 'physics', 26),
 ('Mariam', 'astronomy', 22)]

## Lambda | Map | Filter | Reduce Fonksiyonları

* **Lambda:** Seri fonksiyon tanımlamaya yarar.

In [176]:
new_sum = lambda a, b: a + b
new_sum(2,3)

5

* **Map:** Döngü yazmaktan kurtarır. Elemanları tek tek gezerek işlem yapma kolaylığı sağlar. Verilen fonksiyonu tüm elemanlara uygular.

In [177]:
salaries = [1111, 2222, 3333, 4444]

def new_salary(x):
    return x * 20/100 + x
list(map(new_salary, salaries))

[1333.2, 2666.4, 3999.6, 5332.8]

In [181]:
# Lambda ile seri fonksiyon oluşturup map ile kullanabiliriz.

list(map(lambda x: x*20/100+x, salaries))

[1333.2, 2666.4, 3999.6, 5332.8]

* **Filter:** Filtreleme işlemleri için kullanılır. Bir koşul ile kullanılmalı.

In [182]:
myList = [1, 2, 3, 4, 5, 6, 7, 8]
list(filter(lambda x: x%2 == 0, myList))

[2, 4, 6, 8]

In [184]:
# KOŞUL OLMADAN ÇALIŞMAZ.

myList = [1, 2, 3, 4, 5, 6, 7, 8]
list(filter(lambda x: x+2, myList))

[1, 2, 3, 4, 5, 6, 7, 8]

* **Reduce:**

In [189]:
from functools import reduce

myList = [1, 2, 3, 4]
reduce(lambda a, b: a + b, myList)

10

# Comprehensions

* Tek satırda birçok işlemi yapmamıza olanak tanırlar.

## List Comprehension

In [191]:
salaries = [1111, 2222, 3333, 4444]
salaries = [i*20/100+i for i in salaries] # maaşlara %20 zam yapar.
salaries

[1333.2, 2666.4, 3999.6, 5332.8]

In [195]:
salaries = [1111, 2222, 3333, 4444]

def new_salary(x):
    return x * 20/100 + x

[new_salary(i*2) if i < 3000 else new_salary(i) for i in salaries]

[2666.4, 5332.8, 3999.6, 5332.8]

In [196]:
students = ["John", "Mark", "Venessa", "Mariam"]
students_no = ["John", "Venessa"]

[i.lower() if i in students_no else i.upper() for i in students]

['john', 'MARK', 'venessa', 'MARIAM']

## Dict Comprehension

In [198]:
myDict = {"a":1,
         "b":2,
         "c":3,
         "d":4}
{k: v ** 2 for k,v in myDict.items()}

{'a': 1, 'b': 4, 'c': 9, 'd': 16}

## Uygulama - Mülakat Sorusu : Dict Comprehension

* **AMAÇ:**  

Çift sayıların karesini alıp bir sözlüğe eklemek.

In [200]:
new_dict={}
numbers=range(10)

{i: i**2 for i in numbers if i%2 == 0}

{0: 0, 2: 4, 4: 16, 6: 36, 8: 64}

## List & Dict Comprehension Uygulamaları - 1

* Bir veri setindeki değişkenlerin isimlerini değiştirmek

In [201]:
import seaborn as sns
df = sns.load_dataset("car_crashes")
df.columns

Index(['total', 'speeding', 'alcohol', 'not_distracted', 'no_previous',
       'ins_premium', 'ins_losses', 'abbrev'],
      dtype='object')

In [204]:
df.columns = [i.upper() for i in df.columns] # Her kolonu büyük harf yaptık.
df.head()

,TOTAL,SPEEDING,ALCOHOL,NOT_DISTRACTED,NO_PREVIOUS,INS_PREMIUM,INS_LOSSES,ABBREV
0,18.8,7.332,5.640,18.048,15.040,784.55,145.08,AL
1,18.1,7.421,4.525,16.290,17.014,1053.48,133.93,AK
2,18.6,6.510,5.208,15.624,17.856,899.47,110.35,AZ
3,22.4,4.032,5.824,21.056,21.280,827.34,142.39,AR
4,12.0,4.200,3.360,10.920,10.680,878.41,165.63,CA

## List & Dict Comprehension Uygulamaları - 2

* İsminde "INS" olan değişkenlerin başına FLAG diğerlerine NO_fLAG eklemek istiyoruz.

In [205]:
df.columns = ["FLAG" + i if "INS" in i else "NO_FLAG" + i for i in df.columns]
df.columns

Index(['NO_FLAGTOTAL', 'NO_FLAGSPEEDING', 'NO_FLAGALCOHOL',
       'NO_FLAGNOT_DISTRACTED', 'NO_FLAGNO_PREVIOUS', 'FLAGINS_PREMIUM',
       'FLAGINS_LOSSES', 'NO_FLAGABBREV'],
      dtype='object')

In [206]:
df.head()

,NO_FLAGTOTAL,NO_FLAGSPEEDING,NO_FLAGALCOHOL,NO_FLAGNOT_DISTRACTED,NO_FLAGNO_PREVIOUS,FLAGINS_PREMIUM,FLAGINS_LOSSES,NO_FLAGABBREV
0,18.8,7.332,5.640,18.048,15.040,784.55,145.08,AL
1,18.1,7.421,4.525,16.290,17.014,1053.48,133.93,AK
2,18.6,6.510,5.208,15.624,17.856,899.47,110.35,AZ
3,22.4,4.032,5.824,21.056,21.280,827.34,142.39,AR
4,12.0,4.200,3.360,10.920,10.680,878.41,165.63,CA

## List & Dict Comprehension Uygulamaları - 3

{"total": ["mean", "min", "max", "var"],  
"speeding":["mean", "min", "max", "var"],  
"alcohol":["mean", "min", "max", "var"],  
"not_distracted":["mean", "min", "max", "var"],  
"no_previous":["mean", "min", "max", "var"],  
"ins_premium":["mean", "min", "max", "var"],  
"ins_losses":["mean", "min", "max", "var"]}

In [207]:
import seaborn as sns
df = sns.load_dataset("car_crashes")
df.columns

Index(['total', 'speeding', 'alcohol', 'not_distracted', 'no_previous',
       'ins_premium', 'ins_losses', 'abbrev'],
      dtype='object')

In [216]:
num_cols = [col for col in df.columns if df[col].dtype != "O"]
soz = {}
agg_list = ["mean", "min", "max", "sum"]

new_dict = {i: agg_list for i in num_cols}

In [217]:
# HARİKA YÖNTEM

df[num_cols].agg(new_dict)

,total,speeding,alcohol,not_distracted,no_previous,ins_premium,ins_losses
mean,15.790196,4.998196,4.886784,13.573176,14.004882,886.957647,134.493137
min,5.900000,1.792000,1.593000,1.760000,5.900000,641.960000,82.750000
max,23.900000,9.450000,10.038000,23.661000,21.280000,1301.520000,194.780000
sum,805.300000,254.908000,249.226000,692.232000,714.249000,45234.840000,6859.150000