# Görev-1

* Verilen değerlerin veri yapılarını inceleyiniz.

In [1]:
x = 8
y = 3.2
z = 8j + 18
a = "Hello World"
b = True
c = 23 < 22
l = [1, 2, 3, 4]
d = {"Name": "Jake",
    "Age": 27,
    "Adress": "Downtown"}
t = ("Machine Learning", "Data Science")
s = {"Python", "Machine Learning", "Data Science"}

In [3]:
print(type(x))
print(type(y))
print(type(z))
print(type(a))
print(type(b))
print(type(c))
print(type(l))
print(type(d))
print(type(t))
print(type(s))

<class 'int'>
<class 'float'>
<class 'complex'>
<class 'str'>
<class 'bool'>
<class 'bool'>
<class 'list'>
<class 'dict'>
<class 'tuple'>
<class 'set'>

# Görev-2

* Verilen string ifadenin tüm harflerini büyük harfe çeviriniz. Virgül ve nokta yerine boşluk karakteri koyunuz. Kelime kelime ayırınız.

In [5]:
text = "The goal is to turn data into information, and information into insight."

In [9]:
# Multiple replace
char_to_replace = {",":" ", 
                   ".": " "}
for key, value in char_to_replace.items():
    text = text.replace(key, value)
text

'The goal is to turn data into information  and information into insight '

In [10]:
myList = [i.upper() for i in text.split()]
myList

['THE',
 'GOAL',
 'IS',
 'TO',
 'TURN',
 'DATA',
 'INTO',
 'INFORMATION',
 'AND',
 'INFORMATION',
 'INTO',
 'INSIGHT']

# Görev-3

* Verilen listeye aşağıdaki adımları uygulayınız.

In [1]:
myList = ["D", "A", "T", "A", "S", "C", "I", "E", "N", "C", "E"]

> * **Adım 1:** Verilen listenin eleman sayısına bakınız.

In [2]:
len(myList)

11

> * **Adım 2:** Sıfırıncı ve onuncu indeksteki elemanları çağırınız.

In [3]:
print(f"0. indeksteki eleman {myList[0]}")
print(f"10. indeksteki eleman {myList[10]}")

0. indeksteki eleman D
10. indeksteki eleman E

> * **Adım 3:** Verilen liste üzerinden ["D", "A", "T", "A"] listesi oluşturunuz.

In [4]:
subList = myList[:4]
subList

['D', 'A', 'T', 'A']

> * **Adım 4:** Sekizinci indeksteki elemanı siliniz.

In [5]:
myList.pop(8)

'N'

In [6]:
myList

['D', 'A', 'T', 'A', 'S', 'C', 'I', 'E', 'C', 'E']

> * **Adım 5:** Yeni bir eleman ekleyiniz.

In [7]:
myList.append("!!!")
myList

['D', 'A', 'T', 'A', 'S', 'C', 'I', 'E', 'C', 'E', '!!!']

> * **Adım 6:** Sekizinci indekse "N" elemanını tekrar ekleyiniz.

In [8]:
myList.insert(8,"N")

In [9]:
myList

['D', 'A', 'T', 'A', 'S', 'C', 'I', 'E', 'N', 'C', 'E', '!!!']

# Görev-4

* Verilen sözlük yapısına aşağıdaki adımları uygulayınız.

In [10]:
myDict = {"Christian": ["America", 18],
         "Daisy": ["England", 12],
         "Antonia": ["Spain", 22],
         "Dante": ["Italy", 25]}

> * **Adım 1:** Key değerlerine erişiniz.

In [11]:
myDict.keys()

dict_keys(['Christian', 'Daisy', 'Antonia', 'Dante'])

> * **Adım 2:** Value değerlerine erişiniz.

In [12]:
myDict.values()

dict_values([['America', 18], ['England', 12], ['Spain', 22], ['Italy', 25]])

> * **Adım 3:** Daisy key'ine ait 12 değerini 13 olarak güncelleyiniz.

In [13]:
myDict["Daisy"][1] = 13
myDict

{'Christian': ['America', 18],
 'Daisy': ['England', 13],
 'Antonia': ['Spain', 22],
 'Dante': ['Italy', 25]}

> * **Adım 4:** Key değeri Ahmet value değeri ["Turkey", 24] olan yeni bir değer ekleyiniz.

In [14]:
myDict["Ahmet"] = ["Turkey", 24]
myDict

{'Christian': ['America', 18],
 'Daisy': ['England', 13],
 'Antonia': ['Spain', 22],
 'Dante': ['Italy', 25],
 'Ahmet': ['Turkey', 24]}

> * **Adım 5:** Antonio'yu dictionary'den siliniz.

In [15]:
myDict.pop("Antonia")

['Spain', 22]

In [16]:
myDict

{'Christian': ['America', 18],
 'Daisy': ['England', 13],
 'Dante': ['Italy', 25],
 'Ahmet': ['Turkey', 24]}

# Görev-5

* Argüman olarak bir liste alan, listenin içerisindeki tek ve çift sayıları ayrı listelere atayan ve bu listeleri return eden fonksiyon yazınız.

In [18]:
myList = [2, 13, 18, 93, 22]

def myFunc(myList):
    even_list = []
    odd_list = []
    for i in myList:
        if i % 2 == 0:
            even_list.append(i)
        else:
            odd_list.append(i)
    return odd_list, even_list

tek, cift = myFunc(myList)
print(tek, cift)

[13, 93] [2, 18, 22]

# Görev-6

* List Comprehension yapısı kullanarak car_crashes verisindeki numeric değişkenlerin isimlerini büyük harfe çeviriniz ve başına NUM ekleyiniz.

In [12]:
import seaborn as sns
df = sns.load_dataset("car_crashes")
df.columns

Index(['total', 'speeding', 'alcohol', 'not_distracted', 'no_previous',
       'ins_premium', 'ins_losses', 'abbrev'],
      dtype='object')

In [13]:
df.columns = ["NUM_" + col.upper()  if df[col].dtype != "O" else col.upper() for col in df.columns]

In [14]:
df.columns

Index(['NUM_TOTAL', 'NUM_SPEEDING', 'NUM_ALCOHOL', 'NUM_NOT_DISTRACTED',
       'NUM_NO_PREVIOUS', 'NUM_INS_PREMIUM', 'NUM_INS_LOSSES', 'ABBREV'],
      dtype='object')

In [15]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 51 entries, 0 to 50
Data columns (total 8 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   NUM_TOTAL           51 non-null     float64
 1   NUM_SPEEDING        51 non-null     float64
 2   NUM_ALCOHOL         51 non-null     float64
 3   NUM_NOT_DISTRACTED  51 non-null     float64
 4   NUM_NO_PREVIOUS     51 non-null     float64
 5   NUM_INS_PREMIUM     51 non-null     float64
 6   NUM_INS_LOSSES      51 non-null     float64
 7   ABBREV              51 non-null     object
dtypes: float64(7), object(1)
memory usage: 3.3+ KB

# Görev-7

* List Comprehension yapısı kullanarak car_crashes verisinde isminde "no" barındırmayan değişkenlerin isimlerinin sonuna "FLAG" yazınız.

In [16]:
import seaborn as sns
df = sns.load_dataset("car_crashes")
df.columns

Index(['total', 'speeding', 'alcohol', 'not_distracted', 'no_previous',
       'ins_premium', 'ins_losses', 'abbrev'],
      dtype='object')

In [18]:
df.columns = [i.upper() + "_FLAG" if "no" not in i else i.upper() for i in df.columns]

In [19]:
df.columns

Index(['TOTAL_FLAG', 'SPEEDING_FLAG', 'ALCOHOL_FLAG', 'NOT_DISTRACTED',
       'NO_PREVIOUS', 'INS_PREMIUM_FLAG', 'INS_LOSSES_FLAG', 'ABBREV_FLAG'],
      dtype='object')

# Görev-8

* List Comprehension yapısı kullanarak aşağıda verilen değişken isimlerinden FARKLI olan değişkenlerin isimlerini seçiniz ve yeni bir data frame oluşturunuz.

In [20]:
import seaborn as sns
df = sns.load_dataset("car_crashes")
df.columns

Index(['total', 'speeding', 'alcohol', 'not_distracted', 'no_previous',
       'ins_premium', 'ins_losses', 'abbrev'],
      dtype='object')

In [21]:
og_list = ["abbrev", "no_previous"]
new_cols = [i for i in df.columns if i not in og_list]

new_df = df[new_cols]
new_df.head()

   total  speeding  alcohol  not_distracted  ins_premium  ins_losses
0   18.8     7.332    5.640          18.048       784.55      145.08
1   18.1     7.421    4.525          16.290      1053.48      133.93
2   18.6     6.510    5.208          15.624       899.47      110.35
3   22.4     4.032    5.824          21.056       827.34      142.39
4   12.0     4.200    3.360          10.920       878.41      165.63